body {
	font-family:Lucida Sans Unicode;
	background-color: #D8D8D8;
}
#message_box {
	width: 35%;
	padding: 40px 30px;
	background: rgba(238, 238, 238, 0.8);
	border:1px solid black;
	box-shadow: 10px 10px 5px #888888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#name_text {
	width:100%;
	border:1px solid black;
	padding:10px;
}
#log_text {
	padding:10px;
	color:red;
	font-size:12px;
	float:right;
}
#log_text a {
	color:red;
}
#log_text a:hover {
	font-weight: bold;

}
#text {
	margin-top: 10%;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
.cat_link {
	cursor: pointer;
}
.cat_link:hover {
/*	font-size:25px;
*/
	font-weight: bold;
}
.wijzig {
	cursor: pointer;
}
.wijzig:hover {
/*	font-size:18px;
	font-weight: bold;
*/}
#wijzig_image:hover {
	height:5%!important;
}
.pm:hover {
	cursor: pointer;
	background-color: #D8D8D8;
	border:2px solid black;
}
.send-btn {
	cursor: pointer;
}
.send-btn:hover {
	border: 2px solid #5882FA;
	border-radius: 5px;
}