*{
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 0;
}

.wrap{

}

.students{
	margin-top: 3%;
    margin-left: 5%;
}

#student{
	position: absolute;
    left: 13%;
    top: 8%;


}

.groups {
	position: absolute;
    left: 38.5%;
    top: 12.4%;
}

#groepen {
	position: absolute;
    top: -13%;
    left: 20%;
}

.modules{
	position: absolute;
    left: 111%;
    top: -7%;
    margin-top: 23px;
}

.modules > h3{
	text-align: center;
    position: absolute;
    top: -19%;
    left: 29%;
}