*{
	padding: 0;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
}


.wrap{
	margin-top: 5%;
	margin-left: 5%;

}


.inner_wrap > form > input{
	width: 600px;
	height: 50px;
	padding-left: 15px;
	outline: none;

}

.inner_wrap > form > input[type='submit']{
	width: 615px;
	background-color: #0e83cd;
    border: 1px solid #1d6fa2;
    color: #fff;
    height: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.inner_wrap > form > input[type='submit']:hover{

	background-color: #fff;
	color: #0e83cd;
	border-color: #0e83cd;
	transition-delay: 2s;
    transition: background-color 1s ease;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#errorMessage{
	margin-bottom: 20px;
	color: red;
}